.Example{
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 45vh
  }
  .Dijkstra{
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
  }